aws_region   = "us-east-1"
project_name = "blacktickets"
environment  = "dev"

vpc_cidr                 = "10.0.0.0/16"
public_subnet_cidrs      = ["10.0.1.0/24", "10.0.2.0/24"]
private_app_subnet_cidrs = ["10.0.11.0/24", "10.0.12.0/24"]
private_db_subnet_cidrs  = ["10.0.21.0/24", "10.0.22.0/24"]

poster_bucket_name = "blacktickets-dev-posters"
notification_email = "ops@example.com"

# Set through a secure local tfvars file or CI secret injection.
db_password = "replace-with-secure-password"
